[submodule "user-libs/ros2_rust"]
	path = user-libs/ros2_rust
	url = https://github.com/ros2-rust/ros2_rust.git
[submodule "user-libs/rosidl_runtime_rs"]
	path = user-libs/rosidl_runtime_rs
	url = https://github.com/ros2-rust/rosidl_runtime_rs.git
